.container-navigation{
    min-width: 100%;
    position: sticky;
    top: 0;
    background-color: #F6F6F6;
    z-index: 999;
    box-shadow: 0.3rem 0.3rem 1rem 0.4rem rgb(202, 194, 194);
}

.container-aboutme{
    min-width: 80%;
} 

.container-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}


.container-footer{
    min-width: 100%;
    padding: 20px 0;
    background-color: #191919;
    color: aliceblue;
}

@media (min-width: 768px){
    .row{
        display: flex;
        flex-wrap: wrap;
    }

    .row-footer{
        display: flex;
    }

    .row-services{
        display: flex;
        flex-wrap: wrap;
    }

    .col-md-4{
        width: 33.3%;
    }

    .margin-left-right{
        margin: 0 6px;
    }

    .col-md-6{
        width: 50%;
        padding: 10px;
    }

    .font-text-min-width-768px p{
        font-weight: 500;
        font-size: 1.4rem;
    }

    .container-services .card p{
        padding: 0 1rem;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .center{
        text-align: center;
    }

    .content-footer{
        align-items: center;
    }

    .hide{
        display: none;
    }
}

@media (max-width: 768px){
    .space-top{
        padding-top: 10px;
    }

    .font-weight-max-width-768px p{ 
        font-weight: 400;
        font-size: 1.5rem;
    }

    ul li{
        width: 100%;
        text-align: right;
        padding-right: 10px;
        padding-top: 6px;
    }

    nav ul{
        display: none;
    }

    .container-services .card p{
        padding: 0 1rem;
        font-size: 1.5rem;
        font-weight: 400;
    }
        
    .text-aling-center{
        text-align: center;
    }

    .margin-left-right{
        margin: 0 20px;
    }
     
    .hide{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

